.Controls {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1b1b1baa;
    font-size: 32px;
    height: 160px;
    padding: 0 20px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.Controls.show, .Controls:hover {
    opacity: 1;
    pointer-events: all;
}

.Controls .Basic, .Controls .Extra {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Controls .Extra {
    justify-content: space-between;
}

.Controls .Basic div {
    cursor: pointer;
    user-select: none;
}

.Controls .Extra input {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 32px;
}

.Controls .Extra .Recursive {
    display: flex;
    gap: 4px;
    font-size: 16px;
}

.Controls .Extra .DurationInput {
    width: 54px;
}

.Controls .Extra .Recursive label {
    flex: 1;
}

.Controls .Extra .Buttons {
    display: flex;
    gap: 8px;
}

.Controls .Extra .SortContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.Controls .Extra .SortContainer .SortDirection {
    user-select: none;
    cursor: pointer;
}

.Controls .Info {
    flex: 1;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.Controls .Info .FilePath {
    color: blue;
}

.Controls .Info .FileDirPath {
    color: green;
}

.Controls .Info .PathContainer {
    cursor: pointer;
}